.App {
  text-align: center;
}

body {
  color: #f51423;
  background-image: url("./Images/robots.png")
}

.App-logo-container {
  border-radius: 50%;
}

.App-logo-container img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: auto;
  width: 10%;
}

.App-header {
  background-color: #000;
  height: 100px;
  padding: 20px;
  color: #f51423;
}

.App-header-left{
  float: left;
  width: 45%;
  font-size: 2.5em;
  font-family: cursive;
}

.App-header-right{
  float: right;
  width: 45%;
  font-size: 2.5em;
  font-family: cursive;
}

.App-intro {
  font-size: large;
}

.top-margin {
  margin-top: 15px;
}

.quote {
  margin-left: 250px;
  margin-right: 250px;
}

.navList li a{
  text-decoration: none;
  color: #f51423;
}

ul {
  list-style: none;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
