.App {
  text-align: center;
  position: relative;
  min-height: 100%;
}

.App-intro {
  font-size: large;
}

.App-header {
  background-color: #000;
  height: 100px;
  width: 100%;
  padding: 20px;
  color: #f51423;
}

.App-header-left{
  float: left;
  width: 45%;
  font-size: 2.5em;
  font-family: cursive;
}

.App-header-right{
  float: right;
  width: 45%;
  font-size: 2.5em;
  font-family: cursive;
}

.App-footer {
  background-color: #000;
  height: 50px;
  width: 100%;
  color: #f51423;
  padding: 25px;
  margin-top: 50px;
  bottom: 0;
}

body {
  color: #f51423;
  background-image: url("./Images/robots.png");
  height: 100%;
}

.App-logo-container {
  border-radius: 50%;
}

.App-logo-container img {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;
  margin: auto;
  width: 10%;
}

.navList li a{
  text-decoration: none;
  color: #f51423;
}

ul {
  list-style: none;
  text-align: left;
}

.active{
  font-weight: bold;
  font-size: 20px;
}

.top-margin {
  margin-top: 15px;
}

.quote-block {
  margin-left: 25%;
  margin-right: 25%;
}

.shia {
  border-radius: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.timer-button {
  padding: 20px;
  background-color: white;
}